*
!/.gitignore
!/go.mod
!/go.sum
!/.github/**
!/archetypes/**
!/assets/**
!/config/**
!/content/**
!/data/**
!/layouts/**
!/static/**
!/.github
!/archetypes
!/assets
!/config
!/content
!/data
!/layouts
!/static
