{{-  with $.Site.Params.analytics.ackee -}}
{{- if and (ne .endPoint "") (ne .siteID "") -}}
{{- /* Include Ackee */ -}}
{{- $tracker := resources.GetRemote "https://unpkg.com/ackee-tracker-consent/dist/ackee-tracker-consent.min.js" -}}
{{- $tracker := slice $tracker | resources.Concat "assets/js/tracker.ackee.min.js" -}}
{{- if not $.Site.Params.assets.disableFingerprinting -}}
{{- $tracker := $tracker | fingerprint -}}
<script defer crossorigin="anonymous" src="{{ $tracker.RelPermalink }}" integrity="{{ $tracker.Data.Integrity }}"></script>
{{- else }}
<script defer crossorigin="anonymous" src="{{ $tracker.RelPermalink }}"></script>
{{- end }}
<style>
  #consent-axkeg5u7 {
    text-align: center !important
  }

  @media only screen and (min-width:768.001px) {
    #consent-axkeg5u7 {
      left: calc((100vw - 375px)/2) !important;
    }
  }
</style>
{{- end -}}
{{- end -}}
