<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">{% if site.owner.google.verify %}
<meta name="google-site-verification" content="{{ site.owner.google.verify }}">{% endif %}{% if site.owner.bing-verify %}
<meta name="msvalidate.01" content="{{ site.owner.bing-verify }}">{% endif %}
<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
<meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
<link rel="canonical" href="{{ page.url | replace:'index.html', '' | absolute_url }}">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% include head-custom.html %}
