<link rel="apple-touch-icon" sizes="180x180" href="/assets/image/apple-touch-icon.png?v={{ site.misc.favicon-version }}">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/image/favicon-32x32.png?v={{ site.misc.favicon-version }}">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/image/favicon-16x16.png?v={{ site.misc.favicon-version }}">
<link rel="manifest" href="/assets/misc/site.webmanifest?v={{ site.misc.favicon-version }}">
<link rel="mask-icon" href="/assets/image/safari-pinned-tab.svg?v={{ site.misc.favicon-version }}" color="#5bbad5">
<link rel="shortcut icon" href="/assets/image/favicon.ico?v={{ site.misc.favicon-version }}">
<meta name="msapplication-TileColor" content="#224679">
<meta name="msapplication-config" content="/assets/misc/browserconfig.xml?v={{ site.misc.favicon-version }}">
<meta name="theme-color" content="#ffffff">
<script async src="https://ahm-ackee.netlify.app/tracker.js" data-ackee-server="https://ahm-ackee.netlify.app" data-ackee-domain-id="fe30c6bd-fb45-4d64-97c3-8843886de98b"></script>
