{{- $webmanTemplate := resources.Get "manifest.json" -}}
{{- $webmanConfig := $webmanTemplate | resources.ExecuteAsTemplate "manifest.json" . | minify -}}
<link rel="manifest" href="{{ $webmanConfig.RelPermalink }}">
{{- $msappTemplate := resources.Get "browserconfig.xml" -}}
{{- $msappConfig := $msappTemplate | resources.ExecuteAsTemplate "browserconfig.xml" . | minify -}}
<meta name="msapplication-config" content="{{ $msappConfig.RelPermalink }}">
<script src="https://unpkg.com/ackee-tracker-consent/dist/ackee-tracker-consent.min.js" crossorigin="anonymous">
</script>
<style>
#consent-axkeg5u7 {
  left: calc((100vw - 375px)/2) !important;
  position: sticky !important;
  text-align: center !important;
}
@media only screen and (max-width:768px) {
  div#consent-axkeg5u7 {
  border-radius: 0!important;
  }
}
</style>
