{{- $resources := slice -}}
{{- range .resources -}}
	{{- $resources = $resources | append (resources.Get .) -}}
{{- end -}}

{{- if eq .type "image" -}}
	{{- $resources = $resources | resources.Concat .target -}}
{{- else -}}
	{{- $resources = $resources | resources.Concat .target | minify -}}
	{{- if not .Site.Params.assets.disableFingerprinting -}}
		{{- $resources = $resources | fingerprint -}}
	{{- end -}}
{{- end -}}

{{- if eq .type "style" -}}
<link rel="stylesheet" href="{{ $resources.RelPermalink }}" {{ if not site.Params.assets.disableFingerprinting -}}
integrity="{{ $resources.Data.Integrity }}" {{ end -}}
as="style"/>
{{- else if eq .type "script" -}}
<script src="{{ $resources.RelPermalink }}" {{ if not site.Params.assets.disableFingerprinting -}}
integrity="{{ $resources.Data.Integrity }}" {{ end -}}
crossorigin="anonymous"></script>
{{- else if eq .type "image" -}}
<link rel="page-resource" href="{{ $resources.RelPermalink }}" as="image">
{{- end -}}

