<script>
/**
 * Register Service Worker
 * {{- $swTemplate := resources.Get "sw.js" -}}
 * {{- $serviceWorker := $swTemplate | resources.ExecuteAsTemplate "sw.js" . | minify -}}
 */
if (navigator.serviceWorker) {
    navigator.serviceWorker.register('{{ $serviceWorker.RelPermalink }}', {
        scope: '/'
    });
    window.addEventListener('load', function () {
        if (navigator.serviceWorker.controller) {
            navigator.serviceWorker.controller.postMessage({
                'command': 'trimCaches'
            });
        }
    });
}
</script>
