<!DOCTYPE html>
<html>
<head>
{% include head-slides.html %}
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.5/css/lightslider.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.5/js/lightslider.min.js"></script>
<style>
  body {
    margin: 0;
    max-height: 100vh;
    min-height: 100vh;
    max-width:  100vw;
    min-width:  100vw;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: calc(100vh - 80px);
    min-height: calc(100vh - 80px);
    max-width: 100vw;
  }
</style>
</head>
<body>
{{ content }}
<script type="text/javascript"> 
    $(document).ready(function() {
      $("ul").lightSlider({
        "item": {{ page.item | default: 1 }},
        "loop": {{ page.loop | default: false }},
        "mode": "{{ page.mode | default: slide }}",
        "speed": {{ page.speed | default: 600 }},
        "pause": {{ page.pause | default: 2000 }},
        "vertical": {{ page.vertical | default: false }},
        "auto": {{ page.auto | default: false }},
        "pauseOnHover": {{ page.pauseOnHover | default: false }},
        "pager": {{ page.pager | default: true }},
        "controls": {{ page.cotrols | default: true }},
        "adaptiveHeight": {{ page.adaptiveHeight | default: false }}
      });
    });
{% for elem in page.style %}
    function startAnim_{{ elem[0] }}() {
      $("{{ elem[0] }}")
      {% for style in elem[1].init %}
        .css("{{ style[0] }}", "{{ style[1] }}")
      {% endfor %}
      {% if elem[1].to and elem[1].from %}
        .animate({
          {% for style in elem[1].to %}
            "{{ style[0] }}": "{{ style[1] }}",
          {% endfor %}
          }, {{ elem[1].duration | default: 2000 }})
        .animate({
          {% for style in elem[1].from %}
            "{{ style[0] }}": "{{ style[1] }}",
          {% endfor %}
          }, {{ elem[1].duration | default: 2000 }}, startAnim_{{ elem[0] }})
      {% endif %}
    }
    startAnim_{{ elem[0] }}();
{% endfor %}
</script>
</body>
</html>
