{{- $title := "Diagram" -}}
{{- $type  := "dot" -}}
{{- $content  := "" -}}

{{- if .IsNamedParams -}}
  {{- with .Get "title" -}}
    {{- $title = . -}}
  {{- end -}}
  {{- with .Get "type" -}}
    {{- $type = . -}}
  {{- end -}}
  {{- with .Get "file" -}}
    {{- with $.Page.Resources.GetMatch . -}}
      {{- $content = trim .Content "\n\r" -}}
    {{- end -}}
  {{- end -}}
{{- else -}}
  {{- with .Get 0 -}}
    {{- $title = . -}}
  {{- end -}}
  {{- with .Get 1 -}}
    {{- $type = . -}}
  {{- end -}}
{{- end -}}

{{- if eq $content `` -}}
{{- $content = trim .Inner "\n\r" -}}
{{- end -}}
<figure style="border: 1px dotted var(--secondary);border-radius: var(--radius);">
  <div class="nohighlight" style="text-align: center;border-radius: var(--radius);overflow: auto;margin: 2px;background: var(--code-bg) !important;">
  <pre data-diagram="{{ $type }}" class="chroma" style="text-align: left;margin: 2px;"><code class="language-{{ $type }}" data-lang="{{ $type }}">{{- $content | safeHTML -}}</code></pre>
  </div>
  <figcaption style="text-align:center">{{ $title  | markdownify }}</figcaption>
</figure>
