{{- $svg := .Get 0 -}}
{{- $alt := .Get 1 | default "" -}}
{{- $alt := printf "alt=%q" $alt | safeHTMLAttr -}}
{{- if hasPrefix $svg "https://" -}}
{{- $name := printf "assets/image/%s.svg" (md5 $svg) -}}

{{- with resources.GetRemote $svg -}}
{{- with .Err -}}
{{- warnf "%s" . -}}
{{- else -}}
{{- $svg := slice . | resources.Concat $name | minify -}}
<img src="{{ $svg.RelPermalink }}" {{- $alt -}} />
{{- end -}}
{{- end -}}

{{- else -}}
{{- $svg := resources.Get $svg -}}
<img src="{{ $svg.RelPermalink }}" {{- $alt -}} />
{{- end -}}
